@media (max-width:768px) {
    .passwrd-reset-container {
        flex-direction: column;
    }
}

.card {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.reset-text{
    text-decoration: none;
}

.signin {
    font-size: large;
}

.signin-text {
    cursor: pointer;
    text-decoration: none;
}

.signin-text:hover {
    color: rgb(0, 183, 255);
}