body {
    background-color: #f9f9f99b;
    margin: 0;
    padding: 0;
 }

.container {
    margin-top: 90px;
    padding: 50px;
    max-width: 500px;   
}

img {
    width: 100px;
}

.text-success {
    font-weight: bold;
    font-size: 28px;
}

p a {
    text-decoration: none;
}

p a:hover {
    color: #0d11e4;
}